<div class="col-sm-3">
  <h4>Budget</h4>
  <% budgets.each do |b| %><div class="col-sm-12">
      <dl>
        <dt><%=b['name']%></dt>
        <dd><%=b['balance']%></dd>
      </dl>
  </div>
<% end %>
</div>
<div class="col-sm-6">
</div>
